.search-bar {
  width: 10rem;
  margin-top: 6px;
}

.search-button {
  margin-left: 6px;
  margin-top: 6px;
}

.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 30px;
  margin: 0 auto;
}

.wrapper {
  background: url("../../images/background.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}
